@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

:root  {
    --background: 165 100% 95%;
    --foreground: 165 5% 0%;
    --card: 165 50% 90%;
    --card-foreground: 165 5% 10%;
    --popover: 165 100% 95%;
    --popover-foreground: 165 100% 0%;
    --primary: 165 19.2% 39.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 127 30% 85%;
    --muted-foreground: 165 5% 35%;
    --accent: 127 30% 80%;
    --accent-foreground: 165 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 165 5% 90%;
    --border: 165 30% 50%;
    --input: 165 30% 18%;
    --ring: 165 19.2% 39.8%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 165 50% 5%;
    --foreground: 165 5% 90%;
    --card: 165 50% 0%;
    --card-foreground: 165 5% 90%;
    --popover: 165 50% 5%;
    --popover-foreground: 165 5% 90%;
    --primary: 165 19.2% 39.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 127 30% 15%;
    --muted-foreground: 165 5% 60%;
    --accent: 127 30% 15%;
    --accent-foreground: 165 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 165 5% 90%;
    --border: 165 30% 18%;
    --input: 165 30% 18%;
    --ring: 165 19.2% 39.8%;
    --radius: 0.5rem;
  }
  

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    @font-face {
        font-family: "geist";
        font-style: normal;
        font-weight: 100 900;
        src: url(/fonts/geist.woff2) format("woff2");
    }

    @font-face {
        font-family: "geist-mono";
        font-style: normal;
        font-weight: 100 900;
        src: url(/fonts/geist-mono.woff2) format("woff2");
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text"] {
        color: transparent !important;
        @apply rounded-sm bg-foreground/20 select-none animate-pulse;
    }

    *[class^="no-skeleton"] {
        opacity: 0 !important;
    }

    input {
        opacity: 0 !important;
    }

    .skeleton-bg {
        @apply bg-foreground/10;
    }

    .skeleton-div {
        @apply bg-foreground/20 animate-pulse;
    }
}
